
body{
    display: grid;
    grid-template-columns: 19% 60% 19%;
    grid-template-rows: 19% 60% 19%;

    grid-gap: 10px 10px;
}

.times1{
    grid-column: 2/3;
    grid-row: 2/3;
    
    /*grid-area: 1/3/2/4; */
}

